Importing the data

In [6]:
# Importing libraries

import pandas as pd
import numpy as np
from scipy.stats import gmean
import seaborn as sns
import matplotlib.pyplot as plt

#import warnings
#warnings.filterwarnings('ignore')

In [7]:
# Creating data frame

df = pd.read_csv("C:/Users/pangk/OneDrive - University of Johannesburg/University/Year 4/Learning from data/Assignment 2/The big dataset of ultra-marathon running/TWO_CENTURIES_OF_UM_RACES.csv")

C:\Users\pangk\AppData\Local\Temp\ipykernel_11052\1698536710.py:3: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:/Users/pangk/OneDrive - University of Johannesburg/University/Year 4/Learning from data/Assignment 2/The big dataset of ultra-marathon running/TWO_CENTURIES_OF_UM_RACES.csv")

In [8]:
# Checking that data is loaded correctly

df.head()

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
0,2018,06.01.2018,Selva Costera (CHI),50km,22,4:51:39 h,Tnfrc,CHI,1978.0,M,M35,10.286,0
1,2018,06.01.2018,Selva Costera (CHI),50km,22,5:15:45 h,Roberto Echeverría,CHI,1981.0,M,M35,9.501,1
2,2018,06.01.2018,Selva Costera (CHI),50km,22,5:16:44 h,Puro Trail Osorno,CHI,1987.0,M,M23,9.472,2
3,2018,06.01.2018,Selva Costera (CHI),50km,22,5:34:13 h,Columbia,ARG,1976.0,M,M40,8.976,3
4,2018,06.01.2018,Selva Costera (CHI),50km,22,5:54:14 h,Baguales Trail,CHI,1992.0,M,M23,8.469,4

In [9]:
# Check rows and column

df.shape

(7461195, 13)

In [10]:
# Check Data type

df.dtypes

Year of event                  int64
Event dates                   object
Event name                    object
Event distance/length         object
Event number of finishers      int64
Athlete performance           object
Athlete club                  object
Athlete country               object
Athlete year of birth        float64
Athlete gender                object
Athlete age category          object
Athlete average speed         object
Athlete ID                     int64
dtype: object

In [11]:
# Checking unique Events

df.value_counts('Event name')

Event name
Two Oceans Marathon (RSA)                                263574
Comrades Marathon - Down Run (RSA)                       224491
Comrades Marathon - Up Run (RSA)                         221162
100 km Lauf Biel (SUI)                                   100657
Two Oceans Marathon - 50km Split (RSA)                    84737
                                                          ...
24 ore Bogliasco (ITA)                                        1
Marathon of Marathons 100km Belgrade - 6h Split (SRB)         1
Marathon of Marathons 24h Belgrade - 12h Split (SRB)          1
24 hours Nytva (RUS)                                          1
Korea Tour Mar. - Imsil to Gongju (KOR)                       1
Name: count, Length: 26907, dtype: int64

In [12]:
# Checking unique Year of Events

df.value_counts('Year of event')

Year of event
2019    732207
2018    661483
2017    604638
2016    540073
2015    480722
         ...
1893         1
1943         1
1944         1
1945         1
1798         1
Name: count, Length: 146, dtype: int64

In [13]:
# Checking unique Length of Events

df.value_counts('Event distance/length')

Event distance/length
50km                1522609
100km                951742
50mi                 352181
56km                 333253
87km                 212062
                     ...
303mi                     1
727km                     1
316.5km/7Etappen          1
550km/6stages             1
186mi                     1
Name: count, Length: 2159, dtype: int64

In [14]:
# Checking unique Athlete Clubs

df.value_counts('Athlete club')

Athlete club
*Tokyo                       26782
*La Réunion                  16814
*Kanagawa Pref.              15456
Rand AC                      14598
*Saitama Pref.               12030
                             ...
Marathon Team TJ Klimk...        1
A.S.D. Terzo Tempo Trail         1
Marathon Team Schlieben          1
A.S.D. Three Four Fun            1
�ﾓﾝﾍﾞﾙ                           1
Name: count, Length: 552188, dtype: int64

In [15]:
# Checking unique Countries

df.value_counts('Athlete country')

Athlete country
USA    1389960
FRA    1170884
RSA     877630
JPN     603132
GER     442056
        ...
MDG          1
TWN          1
SLE          1
SVE          1
ACT          1
Name: count, Length: 208, dtype: int64

In [16]:
# Checking unique Age Categories

df.value_counts('Athlete age category')

Athlete age category
M23     1228209
M40     1054195
M35      989217
M45      908337
M50      626637
M55      351116
W23      314473
W40      264967
W35      245020
W45      221291
M60      168131
W50      135437
MU23     100183
M65       66603
W55       64656
W60       25664
M30       23493
M70       21698
WU23      19540
M20       18836
W65        8810
M75        5502
W30        4385
W20        2890
W70        2850
MU20       1355
M80        1225
W75         873
WU20        316
M85         164
W80         123
M95          28
M90          19
W85           8
W95           3
W90           2
F35           1
Name: count, dtype: int64

Cleaning the data

In [17]:
# Need to convert the distance/length all into km
# Drop rows with missing values

df.dropna(subset=['Event distance/length'], inplace=True)

In [18]:
# Check if rows were dropped

df.shape

(7460142, 13)

In [19]:
# Cleaning up anything that is after a space like ' split'

df['Event distance/length'] = df['Event distance/length'].str.split(' ').str[0]

In [20]:
# Cleaning up anything after '/' like '/11Etappen'

df['Event distance/length'] = df['Event distance/length'].str.split('/').str[0]

In [21]:
# Some data have '229km,100mi,100km' I will be cleaning up the distances after the comma

df['Event distance/length'] = df['Event distance/length'].str.split(',').str[0]

In [22]:
# Transform miles and Miles to mi

df['Event distance/length'] = df['Event distance/length'].str.replace(r'\b(\d+)\s*miles?\b', r'\1mi', regex=True)
df['Event distance/length'] = df['Event distance/length'].str.replace(r'\b(\d+)\s*Miles?\b', r'\1mi', regex=True)

In [23]:
# Cleaning up '+"

df['Event distance/length'] = df['Event distance/length'].str.replace(r'(\d+)mi\+', r'\1mi', regex=True)

In [24]:
# Making sure data is not being lost unexpectedly

df.shape

(7460142, 13)

In [25]:
# Checking Distance units

print(df['Event distance/length'].str.extract('([a-zA-Z]+)', expand=False).unique())

['km' 'h' 'mi' 'd' 'k' 'Km' nan 'm' 'K' 'x']

In [26]:
# Lowers all the cases for the next step in clean up

df['Event distance/length'] = df['Event distance/length'].apply(lambda x: x.lower() if isinstance(x, str) else x)

In [27]:
# Replace k to km

#df['Event distance/length'] = df['Event distance/length'].str.replace(r'\b(\d+)\s*k?\b', r'\1km', regex=True)
df['Event distance/length'] = df['Event distance/length'].str.replace(r'(\d+)k\Z', r'\1km', regex=True)

In [28]:
# Replace the one '4x52km' with '208km'

df['Event distance/length'] = df['Event distance/length'].str.replace('4x52km', '208km',)

In [29]:
# Remove any spaces between values for further cleanup

df['Event distance/length'] = df['Event distance/length'].str.replace(' ', '')

In [30]:
# Checking units after cleanup

print(df['Event distance/length'].str.extract('([a-zA-Z]+)', expand=False).unique())

['km' 'h' 'mi' 'd' nan 'm']

In [31]:
# Checking data

df.value_counts('Event distance/length')

Event distance/length
50km       1523048
100km       957877
50mi        352445
56km        333303
87km        212139
            ...
5061km           1
162.6km          1
105.8mi          1
303mi            1
61.15km          1
Name: count, Length: 1683, dtype: int64

In [32]:
# Making sure data is not being lost

df.shape

(7460142, 13)

In [33]:
# Creating a dataframe for distance analysis with km and mi only

dfDistance = df[df['Event distance/length'].str.contains('km|mi')]

In [34]:
# Checking how many records with km and mi

df.shape

(7460142, 13)

In [35]:
# Converting Miles to Kilometers

def convert_to_km(distance_str):
    """
    This function converts a distance string (e.g., "6km", "3mi") to kilometers.
  
    Args:
        distance_str: The string representation of the distance.
  
    Returns:
        The distance in kilometers as a float.
    """
    unit = distance_str[-2:]  # Get the last two characters (units)
    value = float(distance_str[:-2])  # Extract the numerical value

    if unit == "km":
        return value
    elif unit == "mi":
        # 1 mile = 1.60934 kilometers
        return value * 1.60934
    else:
        raise ValueError(f"Unknown unit: {unit}")

dfDistance["distance_km"] = dfDistance["Event distance/length"].apply(convert_to_km)

C:\Users\pangk\AppData\Local\Temp\ipykernel_11052\2790205204.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfDistance["distance_km"] = dfDistance["Event distance/length"].apply(convert_to_km)

In [36]:
# Checking data

dfDistance['distance_km'].head()

0    50.0
1    50.0
2    50.0
3    50.0
4    50.0
Name: distance_km, dtype: float64

In [37]:
# Checking if distance is converted correctly

dfDistance[['Event distance/length', 'distance_km']]

        Event distance/length  distance_km
0                        50km       50.000
1                        50km       50.000
2                        50km       50.000
3                        50km       50.000
4                        50km       50.000
...                       ...          ...
7461185                  50mi       80.467
7461186                61.3km       61.300
7461187                61.3km       61.300
7461190                  65km       65.000
7461191                  65km       65.000

[6933114 rows x 2 columns]

In [38]:
dfDistance['Athlete year of birth'].isnull().values.any()

True

In [39]:
dfDistance['Athlete year of birth'].isnull().sum()

549188

In [40]:
dfDistance[dfDistance['Athlete age category'].isna()==1]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID,distance_km
11,2018,06.01.2018,Selva Costera (CHI),50km,22,7:09:58 h,Rocoto Team,CHI,NaN,M,NaN,6.977,11,50.0
19,2018,06.01.2018,Selva Costera (CHI),50km,22,8:13:16 h,Santiago Mountain Runn...,CHI,NaN,M,NaN,6.082,19,50.0
20,2018,06.01.2018,Selva Costera (CHI),50km,22,8:13:28 h,MEF Ularunners,CHI,NaN,M,NaN,6.079,20,50.0
246,2018,02.01.2018,Sandman 50 (AUS),50km,15,4:59:11 h,NaN,AUS,NaN,M,NaN,10.027,246,50.0
247,2018,02.01.2018,Sandman 50 (AUS),50km,15,5:03:10 h,NaN,AUS,NaN,M,NaN,9.896,247,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7461079,1995,07.01.1995,Centenary Lakes 6 Hour Track Run - 50km Split ...,50km,15,5:40:24 h,*QLD,AUS,NaN,M,NaN,8813.0,1641166,50.0
7461081,1995,07.01.1995,Centenary Lakes 6 Hour Track Run - 50km Split ...,50km,15,5:42:46 h,*QLD,AUS,NaN,M,NaN,8752.0,1093063,50.0
7461086,1995,07.01.1995,Centenary Lakes 6 Hour Track Run - 50km Split ...,50km,15,5:49:58 h,*Old,AUS,NaN,F,NaN,8572.0,1641111,50.0
7461190,1995,00.00.1995,La SainteLyon 65 km (FRA),65km,2,4:33:20 h,NaN,FRA,NaN,M,NaN,14268.0,1151060,65.0
7461191,1995,00.00.1995,La SainteLyon 65 km (FRA),65km,2,6:05:15 h,NaN,FRA,NaN,F,NaN,10678.0,1073520,65.0

Descriptive Statistics
Measure of Location

In [41]:
print('Number of events in this dataset calculation: ' + str(dfDistance['distance_km'].count()))

Number of events in this dataset calculation: 6933114

In [42]:
print('Average distance of all the marathons in this dataset calculation = ' + str(dfDistance['distance_km'].sum()/dfDistance['distance_km'].count()))

Average distance of all the marathons in this dataset calculation = 77.74005868617085

In [43]:
print('Median distance of all the marathons in this dataset calculation = ' + str(dfDistance['distance_km'].median()))

Median distance of all the marathons in this dataset calculation = 66.0

In [44]:
print('Mode of all the marathons in this dataset calculation = ')
print(dfDistance['distance_km'].mode())

Mode of all the marathons in this dataset calculation =
0    50.0
Name: distance_km, dtype: float64

In [45]:
print('1st Quartile of all the marathons in this dataset calculation = ' + str(dfDistance['distance_km'].quantile(0.25)))

1st Quartile of all the marathons in this dataset calculation = 50.0

In [46]:
print('2nd Quartile of all the marathons in this dataset calculation = ' + str(dfDistance['distance_km'].quantile(0.50)))

2nd Quartile of all the marathons in this dataset calculation = 66.0

In [47]:
print('3nd Quartile of all the marathons in this dataset calculation = ' + str(dfDistance['distance_km'].quantile(0.75)))

3nd Quartile of all the marathons in this dataset calculation = 96.0

In [48]:
dfDistance['distance_km'].describe().apply(lambda x: format(x, 'f'))

count    6933114.000000
mean          77.740059
std           56.778680
min           24.500000
25%           50.000000
50%           66.000000
75%           96.000000
max         5719.594360
Name: distance_km, dtype: object

In [49]:
print('Shortest distance in list of the marathons in this dataset calculation = ' + str(dfDistance['distance_km'].min()))

Shortest distance in list of the marathons in this dataset calculation = 24.5

In [50]:
print('Longest distance in list of the marathons in this dataset calculation = ' + str(dfDistance['distance_km'].max()))

Longest distance in list of the marathons in this dataset calculation = 5719.59436

In [51]:
print('Longest distance in list of the marathons in this dataset calculation = ')
print(dfDistance['distance_km'])

Longest distance in list of the marathons in this dataset calculation =
0          50.000
1          50.000
2          50.000
3          50.000
4          50.000
            ...
7461185    80.467
7461186    61.300
7461187    61.300
7461190    65.000
7461191    65.000
Name: distance_km, Length: 6933114, dtype: float64

In [52]:
geometric_mean = gmean(df.loc[:,"distance_km"])

print("The Geometric Mean is: " + str(geometric_mean))

KeyError: 'distance_km'